html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.blog {
    height: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    justify-items: center;
}

.header {
    width: 100%;
    background-color: #f5f5f5;
    border-bottom-width: 0.1em;
    border-bottom-color: #aaa;
    border-bottom-style: solid;
}

.content {
    margin: 1em;
}

.box {
    border-style: solid;
    border-width: 0.1em;
    border-color: #aaa;
    border-radius: 0.5em;
}

.footer {
    width: 100%;
    background-color: #f5f5f5;
    border-top-width: 0.1em;
    border-top-color: #aaa;
    border-top-style: solid;
}

@media (max-width: 30em){
    .blog {
        grid-template-rows: 4em 1fr 6em;
    }
    .content {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 31em){
    .blog {
        grid-template-rows: 8em 1fr 6em;
    }
    .content {
        max-width: 65em;
    }
}