.content {
    height: 100%;
}

/*TODO add media queries*/

.authorinfo {
    width: 1fr;
    max-width: 600px;
}

.authorContent {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "t t t"
    "a c c";
}

.authorTitle {
    grid-area: t;
}

.authorAvatar {
    grid-area: a;
    width: 120px;
    min-height: 125px;
    background-image: url("../img/avatar.jpg");
    background-repeat: no-repeat;
}

.authorBio {
    grid-area: c;
    font-size: small;
}

.mainText {
    line-height: 1.5;
    text-align: justify;
}

.sharebox {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social {
    background-color: #eee;
    color: #abc;
    border-radius: 5px;
    padding: 13px;
    font-size: 100%;
    width: 100px;
    height: 15px;
    margin: 10px;
}

.fb {
    background-color: #395697;
}

.linkedin {
    background-color: #2867b2;
}

.twitter {
    background-color: #0c7abf;
}