.content {
    height: 100%;
    padding: 5px;
}

.authorinfo {
    width: 1fr;
    max-width: 40em;
}

.authorContent {
    display: grid;
    gap: 0em;
    grid-template-areas: 
    "t t t"
    "a c c";
}

.authorTitle {
    grid-area: t;
    padding: 0.2em;
}

.authorAvatar {
    grid-area: a;
    width: 8em;
    min-height: 8em;
    background-image: url("../img/avatar.jpg");
    background-size: cover;
}

.authorBio {
    padding-left: 0.2em;
    grid-area: c;
    font-size: small;
}

.mainText {
    line-height: 1.5;
    text-align: justify;
}

.sharebox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social {
    background-color: #eee;
    color: #abc;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.8em;
    font-size: 100%;
    width: 8em;
    height: 1.5em;
}

.fb {
    background-color: #395697;
}

.linkedin {
    background-color: #2867b2;
}

.twitter {
    background-color: #0c7abf;
}