.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    color: #444;
}

.articlebox {
    padding: 20px;
    font-size: 100%;
    width: 200px;
    height: 120px;
    margin: 10px;
}