.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    color: #444;
}

.articlebox {
    display: grid;
    grid-template-rows: 1fr 2.5em;
    height: 12em;
    margin: 1em;
}

.articleboxtitle {
    padding: 0.2em;
}

.articleboxpic {
    background-image: url("../img/back1.jpg");
    background-size: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

@media (orientation: portrait){
    .articlebox {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (orientation: landscape){
    .articlebox {
        width: 18em;
    }
}